<div class="container">
  <h1 class="title pt-section">Les marques</h1>
  <div data-vue="products">
    <div class="brands-grid">

      <div class="brands-item">
        <img src="assets/brands/aderma.png" alt="Aderma">
      </div>

      <div class="brands-item">
        <img src="assets/brands/avene.png" alt="Avène">
      </div>

      <div class="brands-item">
        <img src="assets/brands/bayer.png" alt="Bayer">
      </div>

      <div class="brands-item">
        <img src="assets/brands/bioderma.png" alt="Bioderma">
      </div>

      <div class="brands-item">
        <img src="assets/brands/eucerin.png" alt="Eucerin">
      </div>

      <div class="brands-item">
        <img src="assets/brands/expanscience.png" alt="Expanscience">
      </div>

      <div class="brands-item">
        <img src="assets/brands/forte-pharma.png" alt="Forte Pharma">
      </div>

      <div class="brands-item">
        <img src="assets/brands/gallia.png" alt="Gallia">
      </div>

      <div class="brands-item">
        <img src="assets/brands/garancia.png" alt="Garancia">
      </div>

      <div class="brands-item">
        <img src="assets/brands/johnson.png" alt="Johnson">
      </div>

      <div class="brands-item">
        <img src="assets/brands/klorane.png" alt="Klorane">
      </div>

      <div class="brands-item">
        <img src="assets/brands/modilac.png" alt="Modilac">
      </div>

      <div class="brands-item">
        <img src="assets/brands/pierre-fabre.png" alt="Pierre Fabre">
      </div>

      <div class="brands-item">
        <img src="assets/brands/la-roche-posay.png" alt="La Roche Posay">
      </div>

      <div class="brands-item">
        <img src="assets/brands/oxypharm.png" alt="Oxypharm">
      </div>

      <div class="brands-item">
        <img src="assets/brands/jowae-phpkva0lz.png" alt="Jowae">
      </div>

      <div class="brands-item">
        <img src="assets/brands/lierac-php4686B8.png" alt="Lierac">
      </div>

      <div class="brands-item">
        <img src="assets/brands/mustela-phpWDZd5y.png" alt="Mustela">
      </div>

    </div>
  </div>
