<section class="pt-section pb-section section-bg">
  <div class="container">
    <h2 class="section-title">Découvrez notre équipe d'experts de la santé</h2>
    <div class="grid-4 grid-3-s grid-2-xs" itemscope="" itemtype="http://schema.org/Pharmacy">

      <div class="team__item" itemprop="employee" itemscope="" itemtype="http://schema.org/Person">
        <img class="team__photo" itemprop="image" src="assets/15/members/phpwLgy5n.jpg" alt="Photo de Marie">
        <h3 class="team__name" itemprop="name">wejden</h3>
        <div class="team__job" itemprop="jobTitle">Préparatrice</div>
      </div>

      <div class="team__item" itemprop="employee" itemscope="" itemtype="http://schema.org/Person">
        <img class="team__photo" itemprop="image" src="assets/15/members/php2rRIY5.jpg" alt="Photo de Martin">
        <h3 class="team__name" itemprop="name">Boulbaba</h3>
        <div class="team__job" itemprop="jobTitle">Préparateur</div>
      </div>

      <div class="team__item" itemprop="employee" itemscope="" itemtype="http://schema.org/Person">
        <img class="team__photo" itemprop="image" src="assets/15/members/phpbMfDuZ.png" alt="Photo de Paul">
        <h3 class="team__name" itemprop="name">Chiheb</h3>
        <div class="team__job" itemprop="jobTitle">Titulaire</div>
      </div>

      <div class="team__item" itemprop="employee" itemscope="" itemtype="http://schema.org/Person">
        <img class="team__photo" itemprop="image" src="assets/15/members/phpgo6wh5.jpg" alt="Photo de Justine">
        <h3 class="team__name" itemprop="name">nermine</h3>
        <div class="team__job" itemprop="jobTitle">Titulaire</div>
      </div>

    </div>

    <div class="team__footer mt3">
      <a class="btn btn--primary btn--big" href="contact.html">Contactez-nous</a>
    </div>

  </div>
</section>

