<footer class="footer">
  <div class="footer__logo">
    <div>
      <img src="assets/commons/img/logos/ansm-561cb4bf5c.png" alt="Agence Nationale de Sécurité du Médicament">
    </div>
    <div>
      <img src="assets/commons/img/logos/ondp-0cd2965adf.png" alt="Ordre National des Pharmaciens">
    </div>
    <div>
      <img src="assets/images/img/ministere-sante.jpg" alt="Ministère de la santé">
    </div>
  </div>
  <div class="footer__main">
    <nav class="footer__nav" itemscope="" itemtype="http://schema.org/Pharmacy">
      <div class="footer__navTitle" itemprop="name">Pharmacie Martin</div>
      <div>
        <address class="mb2" itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
          <div itemprop="streetAddress">8 Rue Raymond Poincaré</div>
          <div>
            <span itemprop="postalCode">10000</span>
            <span itemprop="addressLocality">Troyes</span>
          </div>
        </address>

        Tel. <a href="tel:07 68 91 85 91" class="footer__navLink" aria-label="vous pouvez nous téléphoner au 07 68 91 85 91">
        <span itemprop="telephone" content="07 68 91 85 91">07 68 91 85 91</span>
      </a>

      </div>
    </nav>
    <nav class="footer__nav hidden-s hidden-xs">
      <div class="footer__navTitle">Produits</div>
      <ul class="footer__navList">

        <li class="footer__navItem">
          <a class="footer__navLink" href="catalogue/produits9297.html?category=2">Animaux</a>
        </li>

        <li class="footer__navItem">
          <a class="footer__navLink" href="catalogue/produitsdb58.html?category=3">Beauté</a>
        </li>

        <li class="footer__navItem">
          <a class="footer__navLink" href="catalogue/produits3eca.html?category=4">Cheveux</a>
        </li>

        <li class="footer__navItem">
          <a class="footer__navLink" href="catalogue/produitsefaf.html?category=11">Huiles essentielles</a>
        </li>

        <li class="footer__navItem">
          <a class="footer__navLink" href="catalogue/produits0cf4.html?category=14">Maternité</a>
        </li>

        <li class="footer__navItem">
          <a class="footer__navLink" href="catalogue/produitse1ed.html?category=16">Phytothérapie</a>
        </li>

        <li class="footer__navItem">
          <a class="footer__navLink" href="catalogue/produitsca1e.html?category=17">Premier soins</a>
        </li>

        <li class="footer__navItem">
          <a class="footer__navLink" href="catalogue/produits5dda.html?category=18">Santé</a>
        </li>

        <li class="footer__navItem">
          <a class="footer__navLink" href="catalogue/produits3b08.html?category=21">Solaire</a>
        </li>

      </ul>
    </nav>
    <nav class="footer__nav hidden-s hidden-xs">
      <div class="footer__navTitle">Menu</div>
      <ul class="footer__navList">
        <li class="footer__navItem">
          <a class="footer__navLink" href="index.html">Accueil</a>
        </li>

        <li class="footer__navItem">
          <a class="footer__navLink" href="catalogue/produits.html">Produits</a>
        </li>



        <li class="footer__navItem">
          <a class="footer__navLink" href="contact.html">Contact</a>
        </li>


        <li class="footer__navItem">
          <a class="footer__navLink" href="catalogue/promotions.html">Promotions</a>
        </li>

      </ul>
    </nav>
  </div>
  <div class="footer__bottom">
    <a href="mentions-legales.html">Mentions Légales</a> |
    <a href="politique-de-confidentialite.html">Politique de confidentialité</a> |
    <a href="covid-19.html">COVID-19 : informations sur les masques</a>
  </div>
</footer>
