
<div class="container">
  <h1>Les services de la pharmacie</h1>
  <p class="c33">
    Besoin d'un renseignement sur l'un de nos services ? N'hésitez pas à nous contacter au <a href="tel:+(216) 26 037 015 ">+(216) 26 037 015</a>.<br>
    Vous pouvez aussi nous laisser un message directement sur notre <a routerLink="Contact" >page contact</a> en nous proposant des services que vous aimeriez voir apparaître.
  </p>
  <div class="services-grid" >

    <div class="service">
      <h2 class="service__title">Aromathérapie</h2>
      <img class="service__pic" src="assets/imagesPharmacie/pharmacie-martin-aromatherapie.jpg" alt="">
      <div class="service__desc">

      </div>

      <a class="service__link" href="assets/imagesPharmacie/aromatherapie.html">En savoir plus</a>

    </div>

    <div class="service">
      <h2 class="service__title">Automate</h2>
      <img class="service__pic" src="assets/imagesPharmacie/pharmacie-martin-automate.jpg" alt="">
      <div class="service__desc">

      </div>

    </div>

    <div class="service">
      <h2 class="service__title">Contention</h2>
      <img class="service__pic" src="assets/imagesPharmacie/pharmacie-martin-contention.jpg" alt="">
      <div class="service__desc">

      </div>

    </div>

    <div class="service">
      <h2 class="service__title">Diététicienne / Nutritioniste</h2>
      <img class="service__pic" src="assets/imagesPharmacie/pharmacie-martin-dieteticienne-nutritioniste.jpg" alt="">
      <div class="service__desc">
        Bénéficiez des conseils de notre spécialiste et reprenez le contrôle sur votre alimentation.
      </div>

    </div>

    <div class="service">
      <h2 class="service__title">Drive</h2>
      <img class="service__pic" src="assets/imagesPharmacie/pharmacie-martin-drive.jpg" alt="">
      <div class="service__desc">
        Récupérez votre commande directement au drive sans quitter votre voiture.
      </div>

    </div>

    <div class="service">
      <h2 class="service__title">Défibrillateur</h2>
      <img class="service__pic" src="assets/imagesPharmacie/pharmacie-martin-defibrillateur.jpg" alt="">
      <div class="service__desc">

      </div>

    </div>

    <div class="service">
      <h2 class="service__title">Grossesse</h2>
      <img class="service__pic" src="assets/imagesPharmacie/pharmacie-martin-grossesse.jpg" alt="">
      <div class="service__desc">

      </div>

    </div>

    <div class="service">
      <h2 class="service__title">Livraison à domicile</h2>
      <img class="service__pic" src="assets/imagesPharmacie/pharmacie-martin-livraison-a-domicile.jpg" alt="">
      <div class="service__desc">
        Livraison à domicile en moins de 6h sur toute l'agglomération troyenne.
      </div>

    </div>

    <div class="service">
      <h2 class="service__title">Matériel médical</h2>
      <img class="service__pic" src="assets/imagesPharmacie/pharmacie-martin-materiel-medical.jpg" alt="">
      <div class="service__desc">
        Location et vente de matériel medical adapté à tous vos besoins : lits médicalisés, siège de douche, fauteuils roulants, béquilles, etc
      </div>

    </div>

    <div class="service">
      <h2 class="service__title">Piluliers</h2>
      <img class="service__pic" src="assets/imagesPharmacie/pharmacie-martin-piluliers.jpg" alt="">
      <div class="service__desc">
        Préparation de piluliers personnalisés réutilisables ou jetables
      </div>

    </div>

    <div class="service">
      <h2 class="service__title">TROD Angine</h2>
      <img class="service__pic" src="assets/imagesPharmacie/pharmacie-martin-trod-angine.jpg" alt="">
      <div class="service__desc">

      </div>

    </div>

    <div class="service">
      <h2 class="service__title">Vétérinaire</h2>
      <img class="service__pic" src="assets/imagesPharmacie/pharmacie-martin-veterinaire.jpg" alt="">
      <div class="service__desc">

      </div>

    </div>

  </div>

</div>
