<div class="container mt-section mb-section">
  <div class="leaflet">
    <div class="tns-outer" id="tns1-ow"><div class="tns-nav" aria-label="Carousel Pagination"><button data-nav="0" aria-controls="tns1" style="" aria-label="Carousel Page 1" class="" tabindex="-1"></button><button data-nav="1" aria-controls="tns1" style="" aria-label="Carousel Page 2 (Current Slide)" class="tns-nav-active"></button><button data-nav="2" aria-controls="tns1" style="" aria-label="Carousel Page 3" class="" tabindex="-1"></button></div><div class="tns-liveregion tns-visually-hidden" aria-live="polite" aria-atomic="true">slide <span class="current">3</span>  of 3</div><div id="tns1-mw" class="tns-ovh"><div class="tns-inner" id="tns1-iw"><div class="leaflet__bloc  tns-slider tns-carousel tns-subpixel tns-calc tns-horizontal" data-leaflet="" id="tns1" style="transform: translate3d(-40%, 0px, 0px);"><div class="leaflet__visuals tns-item" aria-hidden="true" tabindex="-1">
      <img src="assets/15/leaflets/5ade2104387f8.jpg" class="leaflet__visualItem" alt="Cure Forcapil">
    </div>

      <div class="leaflet__visuals tns-item" id="tns1-item0" aria-hidden="true" tabindex="-1">
        <img src="assets/15/leaflets/5ade20ea1cbe4.jpg" class="leaflet__visualItem" alt="Crème corporelle Eucerin plop">
      </div>

      <div class="leaflet__visuals tns-item tns-slide-active" id="tns1-item1">
        <img src="assets/15/leaflets/5ade20f7a8104.jpg" class="leaflet__visualItem" alt="Gel désinfectant de 100ml">
      </div>

      <div class="leaflet__visuals tns-item" id="tns1-item2" aria-hidden="true" tabindex="-1">
        <img src="assets/15/leaflets/5ade2104387f8.jpg" class="leaflet__visualItem" alt="Cure Forcapil">
      </div>

      <div class="leaflet__visuals tns-item" aria-hidden="true" tabindex="-1">
        <img src="assets/15/leaflets/5ade20ea1cbe4.jpg" class="leaflet__visualItem" alt="Crème corporelle Eucerin plop">
      </div></div></div></div></div>
  </div>

</div>
