<div class="container mt-section mb-section">
  <section class="spotlight pt-section pb-section">
    <h2 class="visually-hidden">Produits en avant</h2>
    <div class="spotlight__container" data-plugin="spotlight">
      <div class="spotlight__content">

        <article class="spotlight__item  spotlight__item--isActive " data-item="">
          <div class="spotlight__itemContainer">
            <div class="spotlight__visual">
              <img class="spotlight__visualImg" src="assets/15/products/php1ItTWu-small.png" alt="Le remède naturelle contre les maux de tête">
            </div>
            <div class="spotlight__itemContent">
              <h3 class="spotlight__itemTitle">Le remède naturelle contre les maux de tête</h3>
              <div class="spotlight__itemAbout">
                Ce roll-on maux de tête à l'efficacité prouvée réduit la douleur liée aux maux de tête et céphalées. L'association du massage, de l'effet frais de la bille du roll-on et des 9 huiles essentielles aux parfums relaxants et calmants vous apporte une solution naturelle et efficace. Pratique et facile à utiliser partout, il procure un effet frais immédiat.
              </div>
            </div>
          </div>
        </article>

        <article class="spotlight__item " data-item="">
          <div class="spotlight__itemContainer">
            <div class="spotlight__visual">
              <img class="spotlight__visualImg" src="assets/15/products/phpCkF6dd-small.jpg" alt="D-stress : pour faire face aux situations stressantes">
            </div>
            <div class="spotlight__itemContent">
              <h3 class="spotlight__itemTitle">D-stress : pour faire face aux situations stressantes</h3>
              <div class="spotlight__itemAbout">
                D-Stress anti-stress vous aide à réduire votre fatigue, à mieux résister au stress, et à retrouver des performances intellectuelles normales.
              </div>
            </div>
          </div>
        </article>

      </div>
    </div>
    <div class="spotlight__nav">
      <button class="spotlight__btn" data-previous="">
        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="14" viewBox="0 0 10 14">
          <polygon fill="currentColor" fill-rule="evenodd" points="20.193 205.163 15.815 200.785 20.193 196.407 17.785 194 11 200.785 17.785 207.571" transform="translate(-11 -194)"></polygon>
        </svg>

      </button>
      <button class="spotlight__btn spotlight__btn--right" data-next="">
        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="14" viewBox="0 0 10 14">
          <polygon fill="currentColor" fill-rule="evenodd" points="20.193 205.163 15.815 200.785 20.193 196.407 17.785 194 11 200.785 17.785 207.571" transform="translate(-11 -194)"></polygon>
        </svg>

      </button>
    </div>
  </section>
</div>

