<section class="pt-section pb-section section-bg">
  <div class="container">
    <h2 class="section-title">Ces produits peuvent vous intéresser</h2>
    <div class="grid-4 grid-2-s grid-1-xs">

      <a class="catalog-item" href="catalogue/promotions.html">
        <div class="catalog-item__visual">
          <img class="catalog-item__visualImg" src="assets/products/phpniIHmP-small.png" alt="Visuel du huile vegetale calendula">
        </div>
        <div class="catalog-item__content">
          <div class="catalog-item__name">huile vegetale calendula</div>
          <span class="catalog-item__price catalog-item__price--old">8.00&nbsp;€</span>
          <span class="catalog-item__price catalog-item__price--color">5.36&nbsp;€</span>
        </div>
      </a>

      <a class="catalog-item" href="catalogue/promotions.html">
        <div class="catalog-item__visual">
          <img class="catalog-item__visualImg" src="assets/products/phpNbxToW-small.png" alt="Visuel du oleocaps defenses naturelles numero 4">
        </div>
        <div class="catalog-item__content">
          <div class="catalog-item__name">oleocaps defenses naturelles numero 4</div>
          <span class="catalog-item__price catalog-item__price--old">8.00&nbsp;€</span>
          <span class="catalog-item__price catalog-item__price--color">5.00&nbsp;€</span>
        </div>
      </a>

      <a class="catalog-item" href="catalogue/promotions.html">
        <div class="catalog-item__visual">
          <img class="catalog-item__visualImg" src="assets/products/phpzHUnPR-small.jpg" alt="Visuel du arko essentiel granules confort respiratoire huiles essentielles">
        </div>
        <div class="catalog-item__content">
          <div class="catalog-item__name">arko essentiel granules confort respiratoire huiles essentielles</div>
          <span class="catalog-item__price catalog-item__price--old">10.00&nbsp;€</span>
          <span class="catalog-item__price catalog-item__price--color">6.00&nbsp;€</span>
        </div>
      </a>

      <a class="catalog-item" href="catalogue/promotions.html">
        <div class="catalog-item__visual">
          <img class="catalog-item__visualImg" src="assets/products/php5jRplw-small.png" alt="Visuel du avene solaire huile 30">
        </div>
        <div class="catalog-item__content">
          <div class="catalog-item__name">avene solaire huile 30</div>
          <span class="catalog-item__price catalog-item__price--old">10.00&nbsp;€</span>
          <span class="catalog-item__price catalog-item__price--color">8.00&nbsp;€</span>
        </div>
      </a>

    </div>
  </div>
</section>
