<main data-vue="products" class="container mt3">
  <section class="catalog">
    <nav aria-labelledby="pagination-top" class="catalog__pagination">
      <div id="pagination-top" class="visually-hidden">
        Pagination du catalogue (haut)</div>
      <!----></nav>
    <div>
      <div class="catalog-content catalog-content--only">
        <div class="catalog-item"><div class="catalog-item__visual">
          <img src="https://d7wdiispohy13.cloudfront.net/products/phpniIHmP-small.jpg" alt="huile vegetale calendula" class="catalog-item__visualImg">
        </div> <div class="catalog-item__content"><div class="catalog-item__brand">Pranarom</div>
          <strong class="catalog-item__name">huile vegetale calendula</strong>
          <div>
            <span class="catalog-item__price catalog-item__price--color">5.36&nbsp;€</span>
          </div></div></div><div class="catalog-item"><div class="catalog-item__visual">
        <img src="https://d7wdiispohy13.cloudfront.net/products/phpNbxToW-small.jpg" alt="oleocaps defenses naturelles numero 4" class="catalog-item__visualImg"></div> <div class="catalog-item__content"><div class="catalog-item__brand">Pranarom</div> <strong class="catalog-item__name">oleocaps defenses naturelles numero 4</strong> <div>
         <span class="catalog-item__price catalog-item__price--color">5.00&nbsp;€</span></div></div></div><div class="catalog-item"><div class="catalog-item__visual"><img src="https://d7wdiispohy13.cloudfront.net/products/phpzHUnPR-small.jpg" alt="arko essentiel granules confort respiratoire huiles essentielles" class="catalog-item__visualImg"></div> <div class="catalog-item__content"><div class="catalog-item__brand">Arkopharma</div> <strong class="catalog-item__name">arko essentiel granules confort respiratoire huiles essentielles</strong> <div>
        <span class="catalog-item__price catalog-item__price--color">6.00&nbsp;€</span></div></div></div><div class="catalog-item"><div class="catalog-item__visual"><img src="https://d7wdiispohy13.cloudfront.net/products/php5jRplw-small.jpg" alt="avene solaire huile 30" class="catalog-item__visualImg"></div> <div class="catalog-item__content"><div class="catalog-item__brand">Avène</div> <strong class="catalog-item__name">avene solaire huile 30</strong> <div> class="catalog-item__price catalog-item__price--old">10.00&nbsp;€ <span class="catalog-item__price catalog-item__price--color">8.00&nbsp;€</span></div></div></div></div></div> <nav aria-labelledby="pagination-bottom" class="catalog__pagination"><div id="pagination-bottom" class="visually-hidden">
  Pagination du catalogue (bas)</div>
    <!----></nav></section></main>
