<div class="container">
  <form action="https://mon-officine.fr/scan/5re4" method="post" enctype="multipart/form-data" data-form="">
    <input type="hidden" name="_token" value="Lxp963wFZ2z0HQYnRNjRXM3WuhPL7CFYIXvMQh4T">
    <div class="box box--topBg">
      <div class="scan-cover"><img src="https://d7wdiispohy13.cloudfront.net/15/phphmVFAO-16-9.jpg"></div>
      <h2>1. Envoyer votre ordonnance</h2>

      <p>
        Numérisez votre ordonnance avec votre scanner ou directement avec l'appareil photo de votre smartphone en cliquant sur le bouton "Scanner mon ordonnance".
      </p>

      <p>
        Merci de vous munir de votre ordonnance
      </p>

      <div class="uploader mt3" data-js="uploader">
        <div data-js-uploaderpicwrapper="" class="hidden mb2">
        </div>
        <div data-js-uploaderform="">
          <div class="uploder__loader"><svg viewBox="0 0 38 38" xmlns="http://www.w3.org/2000/svg" stroke="#fff">
            <g fill="none" fill-rule="evenodd">
              <g transform="translate(1 1)" stroke-width="2">
                <circle stroke-opacity=".5" cx="18" cy="18" r="18"></circle>
                <path d="M36 18c0-9.94-8.06-18-18-18">
                  <animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="1s" repeatCount="indefinite"></animateTransform>
                </path>
              </g>
            </g>
          </svg></div>
          <label for="file" tabindex="0" disabled="">
            Scanner mon ordonnance
          </label>
          <input type="file" id="file" accept="image/*;capture=camera" value="" data-url="https://papi.pharmarank.fr/prescriptions?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOjE1LCJnIjp0cnVlLCJpc3MiOiJodHRwOi8vbW9uLW9mZmljaW5lLmZyL3NjYW4vNXJlNCIsImlhdCI6MTYwMDQ2ODQ3MiwiZXhwIjoxNjAxNjc4MDcyLCJuYmYiOjE2MDA0Njg0NzIsImp0aSI6IjhUWnFiTzR5UFY5M2VZR2EifQ.tHJhii8KZiEZ3elkqBHSaqxJwIedpOdR6YHhZMGAA3o">
          <input type="hidden" name="file_id" value="" required="">
        </div>
      </div>
    </div>
    <div class="box">
      <h2>2. Moyen de contact</h2>
      <div class="f-group">
        <label for="phone">Votre numéro de téléphone portable<i class="f-required">*</i></label>
        <input type="tel" id="phone" name="phone" required="" placeholder="ex: 07 01 02 03 04" value="">
      </div>
      <p class="mt1 mb0">
        Vous recevrez un SMS lorsque votre commande sera prête.
      </p>
    </div>
    <div class="box">
      <h2>3. Informations complémentaires</h2>

      <label>Comment souhaitez vous récupérer votre commande ?</label>
      <div class="f-group">
        <div class="f-radiobox">
          <input type="radio" id="pickup_pharmacy" name="pickup" value="1" checked="">
          <label for="pickup_pharmacy">Dans la pharmacie</label>
          <input type="radio" id="pickup_drive" name="pickup" value="2">
          <label for="pickup_drive">Au drive</label>
        </div>
      </div>

      <div class="f-group mb2">
        <label for="hour">À quelle heure&nbsp;?</label>
        <select name="hour" id="hour">
          <option value="2020-09-19 08:00">aujourd'hui à 08h00</option>
          <option value="2020-09-19 08:30">aujourd'hui à 08h30</option>
          <option value="2020-09-19 09:00">aujourd'hui à 09h00</option>
          <option value="2020-09-19 09:30">aujourd'hui à 09h30</option>
          <option value="2020-09-19 10:00">aujourd'hui à 10h00</option>
          <option value="2020-09-19 10:30">aujourd'hui à 10h30</option>
          <option value="2020-09-19 11:00">aujourd'hui à 11h00</option>
          <option value="2020-09-19 11:30">aujourd'hui à 11h30</option>
          <option value="2020-09-19 12:00">aujourd'hui à 12h00</option>
          <option value="2020-09-19 12:30">aujourd'hui à 12h30</option>
          <option value="2020-09-19 13:00">aujourd'hui à 13h00</option>
          <option value="2020-09-19 13:30">aujourd'hui à 13h30</option>
          <option value="2020-09-19 14:00">aujourd'hui à 14h00</option>
          <option value="2020-09-19 14:30">aujourd'hui à 14h30</option>
          <option value="2020-09-19 15:00">aujourd'hui à 15h00</option>
          <option value="2020-09-19 15:30">aujourd'hui à 15h30</option>
          <option value="2020-09-19 16:00">aujourd'hui à 16h00</option>
          <option value="2020-09-19 16:30">aujourd'hui à 16h30</option>
          <option value="2020-09-19 17:00">aujourd'hui à 17h00</option>
          <option value="2020-09-19 17:30">aujourd'hui à 17h30</option>
          <option value="2020-09-19 18:00">aujourd'hui à 18h00</option>
          <option value="2020-09-19 18:30">aujourd'hui à 18h30</option>
          <option value="2020-09-21 08:00">lundi 21/09 à 08h00</option>
          <option value="2020-09-21 08:30">lundi 21/09 à 08h30</option>
          <option value="2020-09-21 09:00">lundi 21/09 à 09h00</option>
          <option value="2020-09-21 09:30">lundi 21/09 à 09h30</option>
          <option value="2020-09-21 10:00">lundi 21/09 à 10h00</option>
          <option value="2020-09-21 10:30">lundi 21/09 à 10h30</option>
          <option value="2020-09-21 11:00">lundi 21/09 à 11h00</option>
          <option value="2020-09-21 11:30">lundi 21/09 à 11h30</option>
        </select>
      </div>

      <div class="f-inline">
        <input class="f-switch" type="checkbox" name="commentActive" id="commentActive" data-js="noteToggle">
        <label for="commentActive">Laisser une note au pharmacien</label>
      </div>

      <div class="f-group mt2 hidden" data-js-notewrapper="">
        <textarea name="comment" data-js-note=""></textarea>
      </div>
    </div>
    <div class="txtcenter mt3 mb5">
      <button type="submit" data-js-submit="" class="btn btn--primary btn--loader"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="uil-default">
        <rect x="46.5" y="40" width="7" height="20" rx="5" ry="5" fill="#fff" transform="translate(0 -30)">
          <animate attributeName="opacity" from="1" to="0" dur="1s" begin="0s" repeatCount="indefinite"></animate>
        </rect>
        <rect x="46.5" y="40" width="7" height="20" rx="5" ry="5" fill="#fff" transform="rotate(30 105.98 65)">
          <animate attributeName="opacity" from="1" to="0" dur="1s" begin="0.08333333333333333s" repeatCount="indefinite"></animate>
        </rect>
        <rect x="46.5" y="40" width="7" height="20" rx="5" ry="5" fill="#fff" transform="rotate(60 75.98 65)">
          <animate attributeName="opacity" from="1" to="0" dur="1s" begin="0.16666666666666666s" repeatCount="indefinite"></animate>
        </rect>
        <rect x="46.5" y="40" width="7" height="20" rx="5" ry="5" fill="#fff" transform="rotate(90 65 65)">
          <animate attributeName="opacity" from="1" to="0" dur="1s" begin="0.25s" repeatCount="indefinite"></animate>
        </rect>
        <rect x="46.5" y="40" width="7" height="20" rx="5" ry="5" fill="#fff" transform="rotate(120 58.66 65)">
          <animate attributeName="opacity" from="1" to="0" dur="1s" begin="0.3333333333333333s" repeatCount="indefinite"></animate>
        </rect>
        <rect x="46.5" y="40" width="7" height="20" rx="5" ry="5" fill="#fff" transform="rotate(150 54.02 65)">
          <animate attributeName="opacity" from="1" to="0" dur="1s" begin="0.4166666666666667s" repeatCount="indefinite"></animate>
        </rect>
        <rect x="46.5" y="40" width="7" height="20" rx="5" ry="5" fill="#fff" transform="rotate(180 50 65)">
          <animate attributeName="opacity" from="1" to="0" dur="1s" begin="0.5s" repeatCount="indefinite"></animate>
        </rect>
        <rect x="46.5" y="40" width="7" height="20" rx="5" ry="5" fill="#fff" transform="rotate(-150 45.98 65)">
          <animate attributeName="opacity" from="1" to="0" dur="1s" begin="0.5833333333333334s" repeatCount="indefinite"></animate>
        </rect>
        <rect x="46.5" y="40" width="7" height="20" rx="5" ry="5" fill="#fff" transform="rotate(-120 41.34 65)">
          <animate attributeName="opacity" from="1" to="0" dur="1s" begin="0.6666666666666666s" repeatCount="indefinite"></animate>
        </rect>
        <rect x="46.5" y="40" width="7" height="20" rx="5" ry="5" fill="#fff" transform="rotate(-90 35 65)">
          <animate attributeName="opacity" from="1" to="0" dur="1s" begin="0.75s" repeatCount="indefinite"></animate>
        </rect>
        <rect x="46.5" y="40" width="7" height="20" rx="5" ry="5" fill="#fff" transform="rotate(-60 24.02 65)">
          <animate attributeName="opacity" from="1" to="0" dur="1s" begin="0.8333333333333334s" repeatCount="indefinite"></animate>
        </rect>
        <rect x="46.5" y="40" width="7" height="20" rx="5" ry="5" fill="#fff" transform="rotate(-30 -5.98 65)">
          <animate attributeName="opacity" from="1" to="0" dur="1s" begin="0.9166666666666666s" repeatCount="indefinite"></animate>
        </rect>
      </svg>
        Envoyer mon ordonnance</button>
    </div>
  </form>
</div>
<script src="https://static.mon-officine.fr/assets/js/pages/public/scan-f7ff59259d.js"></script>
