<nav class="navigation">
  <div class="container">
    <ul class="navigation__list" role="menubar">
      <li class="navigation__listItem" role="menuitem">
        <a routerLink="index" routerLinkActive="active">Accueil</a>
      </li>

      <li class="navigation__listItem" role="menuitem">
        <a routerLink="Produits" routerLinkActive="active">Produits</a>
      </li>


      <li class="navigation__listItem" role="menuitem">
        <a routerLink="Marques" routerLinkActive="active">Marques</a>
      </li>



      <li class="navigation__listItem" role="menuitem">
        <a routerLink="Services" routerLinkActive="active">Services</a>
      </li>


      <li class="navigation__listItem" role="menuitem">
        <a routerLink="Scan" routerLinkActive="active">Scan d'ordonnance</a>

      </li>


      <li class="navigation__listItem" role="menuitem">
        <a routerLink="Contacts" routerLinkActive="active">Contact</a>
      </li>


      <li class="navigation__listItem navigation__listItem--current" role="menuitem">
        <a routerLink="Promotion" routerLinkActive="active">Promotions</a>

      </li>

    </ul>
  </div>
</nav>

