
<div class="container">
  <!-- About -->
  <section class="mt-section mb-section">
    <h1 class="section-title">La pharmacie En ligne vous accueille…</h1>
    <div class="home-about"><p><strong>La pharmacie En ligne
    </strong>
      vous accueille du lundi au samedi de 9h à 20h&nbsp;sans interruption pour la délivrance de vos&nbsp;<strong>ordonnances,&nbsp;</strong>mais également pour vos besoins plus spécifiques en&nbsp;<strong>orthopédie&nbsp;</strong>et&nbsp;<strong>matériel médical</strong>.</p></div>
  </section>
</div>
