<section class="pt-section pb-section section-bg">
  <h2 class="visually-hidden">Nos marques</h2>
  <div class="container">
    <div class="home-brands">
      <div class="brands">
        <div class="brands__preWrapper" data-brand-prewrapper="" style="animation-duration: 22.6667s;">
          <div class="brands__wrapper" data-brand-wrapper="" style="animation-duration: 22.6667s;">


            <span><img src="assets/brands/aderma.png" alt="Aderma" width="85"></span>



            <span><img src="assets/brands/avene.png" alt="Avène" width="85"></span>



            <span><img src="assets/brands/bayer.png" alt="Bayer" width="85"></span>



            <span><img src="assets/brands/bioderma.png" alt="Bioderma" width="85"></span>



            <span><img src="assets/brands/eucerin.png" alt="Eucerin" width="85"></span>





            <span><img src="assets/brands/forte-pharma.png" alt="Forte Pharma" width="85"></span>



            <span><img src="assets/brands/gallia.png" alt="Gallia" width="85"></span>





            <span><img src="assets/brands/johnson.png" alt="Johnson" width="85"></span>



            <span><img src="assets/brands/klorane.png" alt="Klorane" width="85"></span>



            <span><img src="assets/brands/modilac.png" alt="Modilac" width="85"></span>



            <span><img src="assets/brands/pierre-fabre.png" alt="Pierre Fabre" width="85"></span>



            <span><img src="assets/brands/la-roche-posay.png" alt="La Roche Posay" width="85"></span>





            <span><img src="assets/brands/durex-php5JUImT.png" alt="Durex" width="85"></span>



            <span><img src="assets/brands/epitact-phpUrdbdF.png" alt="Epitact" width="85"></span>





            <span><img src="assets/brands/lierac-php4686B8.png" alt="Lierac" width="85"></span>



            <span><img src="assets/brands/mustela-phpWDZd5y.png" alt="Mustela" width="85"></span>


          </div>
        </div>
      </div>

    </div>
  </div>
</section>

